


nav ul {
	list-style: none;
  padding: 0px;
  margin: 0px;
	display: block;
	clear: right;
	background-color: gray;
  padding-left: 4px;
  height: 50px;
  width: 100%;
  clear: right;
}
nav ul li {
	display: inline-block;
  padding: 0px 20px 5px 10px;
  padding-top: 10px;
	height: 24px;
  border-left: 1px solid #ccc;
  float: right;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 13px;
  font-weight: bold;
  display: block;
  
}

nav ul li a:hover {
	color: black;
}

nav img {
  position: absolute;
  left: 2%;
  color: white;
  padding-top: 10px;
}

nav input[type=text] {
  position: absolute;
  left: 20%;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

}

.header-text {
  
  font-size: 14px;
  padding-left: 500px;
}
.header-text h1 {
  color: orangered; 
  font-size: 30px;
  font-family: sans-serif;}

.header-text h2 { 
    font-size: 30px;
    font-family: sans-serif;}

.header-text div {
  display: inline-block;
  padding: 0px 10px 5px 10px;
  padding-top: 5px;
	height: 24px;
  border-left: 1px solid orangered;
  border-right: 1px solid orangered;
}

aside img {  
  
  padding-left: 50%;
} 

.footer-banner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  height: 200px;
  padding-top: 40px;
  text-align: center;
}

.about-us p {
    position: absolute;
    left: 20%;
}

.menu p {
  position: absolute;
  left: 60%;
}

.menu ul {
  position: absolute;
  left: 60%;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.menu ul a {
  list-style-type: none;
  text-decoration: none;
}

.footer-banner footer p {
	    text-align: center;
    	font-size: 14px;
      color: #888;
      padding-top: 120px;
      }