


nav ul {
	list-style: none;
  padding: 0px;
  margin: 0px;
	display: block;
	clear: right;
	background-color: gray;
  padding-left: 4px;
  height: 60px;
  width: 100%;
  clear: right;
}
nav ul li {
	display: inline;
  padding: 0px 20px 5px 10px;
  padding-top: 20px;
	height: 24px;
  border-left: 1px solid #ccc;
  float: right;
  padding-right: 5%;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 15px;
  font-weight: bold;
  display: block;
  
}

nav ul li a:hover {
	color: black;
}

nav img {
  position: absolute;
  left: 2%;
  color: white;
  padding-top: 20px;
}

nav input[type=text] {
  position: absolute;
  left: 20%;
  padding: 6px;
  border: none;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 17px;

}

.header-text {
  
  font-size: 14px;
  display: inline;
  float: left;
  padding-left: 30%;
  padding-top: 30px;
}
.header-text h1 {
  color: orangered; 
  font-size: 30px;
  font-family: sans-serif;}

.header-text h2 { 
    font-size: 30px;
    font-family: sans-serif;}



.box-in-1 {
  float: left;
  padding: 0px 10px 5px 10px;
  border-right: 1px solid orangered;
  border-left: 1px solid orangered;
  display: inline-block;
}

.box-in-2 {
  float: left;
  padding: 0px 10px 5px 10px;
  display: inline-block;
  border-right: 1px solid orangered;
}

aside img {  
  display: inline;
  width: 400px;
  height: 280px;
  float: left;
  padding-left: 3%;
  padding-top: 30px;
  
} 

.middle-banner {
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
  height: 50px;
  padding-top: 40px;
  text-align: center;
  margin-top: 18%;
}

.middle-banner form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  float: left;
  width: 15%;
  background: white;
  position: absolute;
  left: 30%;
  bottom: 25%;
  
}

.middle-banner button {
  float: left;
  width: 5%;
  padding: 10px;
  background: gray;
  color: white;
  font-size: 17px;
  border: 1px solid black;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position: absolute;
  left: 46.1%;
  bottom: 25%;
}

.middle-banner button:hover {
  background: darkgrey;
}

.footer-banner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  height: 180px;
  padding-top: 40px;
  text-align: center;
}

.about-us p {
    position: absolute;
    left: 20%;
}

.menu p {
  position: absolute;
  left: 60%;
  bottom: 60%;
}

.menu ul {
  position: absolute;
  left: 60%;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  bottom: 42%;
}

.menu ul a {
  list-style-type: none;
  text-decoration: none;
  color: darkslateblue;
}

.footer-banner footer p {
	    text-align: center;
    	font-size: 14px;
      color: #888;
      padding-top: 60px;
      }